/*!
 * bootstrap-fileinput v4.4.2
 * https://plugins.krajee.com/file-input
 *
 * Krajee RTL (Right To Left) default styling for bootstrap-fileinput.
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2017, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */
.kv-rtl {
    direction: rtl;
}

.kv-rtl .close {
    float: left;
}

.kv-rtl .input-group-btn:last-child >.btn {
   border-top-right-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
   border-top-left-radius: 4px !important;
   border-bottom-left-radius: 4px !important;

}

.kv-rtl .input-group .form-control:first-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

 }
 
.kv-rtl .file-loading {
    right: auto;
    left: 0;
    text-align: left;
}

.kv-rtl .btn-file input[type=file] {
    right: auto;
    left: 0;
    text-align: left;
    background: none repeat scroll 100% 0 transparent;
}

.kv-rtl .file-zoom-dialog {
    text-align: right;
}

.kv-rtl .file-error-message pre,
.kv-rtl .file-error-message ul {
    text-align: right;
}

.kv-rtl .krajee-default.file-preview-frame {
    box-shadow: -1px 1px 5px 0 #a2958a;
    float: right;
}

.kv-rtl .krajee-default.file-preview-frame:not(.file-preview-error):hover {
    box-shadow: -3px 3px 5px 0 #333;
}

.kv-rtl .krajee-default .file-actions,
.kv-rtl .krajee-default .file-other-error {
    text-align: right;
}

.kv-rtl .krajee-default .file-footer-buttons {
    float: left;
}

.kv-rtl .krajee-default .file-drag-handle,
.kv-rtl .krajee-default .file-upload-indicator {
    left: auto;
    right: -6px;
    padding: 8px 3px 1px 8px;
    border-top-left-radius: 24px;
    border-top-right-radius: 0;
}

.kv-rtl .file-drop-zone {
    margin: 12px 12px 12px 15px;
}

.kv-rtl .floating-buttons {
    left: 10px;
    right: auto;
}

.kv-rtl .kv-zoom-actions .btn,
.kv-rtl .floating-buttons .btn {
    margin-right: 3px;
}

.kv-rtl .btn-prev {
    right: 1px;
    left: auto;
}

.kv-rtl .btn-next {
    left: 1px;
    right: auto;
}

.kv-rtl .pull-right {
    float: left!important;
}

.kv-rtl .pull-left {
    float: right!important;
}

.kv-rtl .modal-title {
    float: right;
    direction: ltr;
}